<div class="contentClass">
  <ion-row></ion-row>
  <!-- Control Signal -->
  <!-- <ion-card>
    <ion-item>
      <ion-list class="ion-list">     
        <ion-item *ngFor="let item of lists">   
                <ion-label>{{item}}</ion-label>
        </ion-item>
      </ion-list>
      <ion-button (click)="openPicker()">{{selectedSignal}}</ion-button>
      <ion-icon name="business-outline" class="iconClass" (click)="showMoreInfoOverlay()"></ion-icon>
    </ion-item>
  </ion-card> -->

  <!-- Instant Control -->
  <ion-card>
      <ion-item lines="none">
        <ion-label>
          <h1>Instant Control</h1>
        </ion-label>
        <ion-toggle color="danger"  checked=true></ion-toggle>
      </ion-item>
  </ion-card>

  <!-- Timer -->
    <ion-row>
        <ion-card>
          <ion-card-content>
              <ion-label>
                <h1>T(hr:min:sec:msec)</h1>
                <h2>0000:00:03:0000</h2>
              </ion-label>
          </ion-card-content>
        </ion-card>
    </ion-row>
    <ion-col></ion-col>
</div>
