
<div class="contentClass">
  <br>
  <!-- Instant Control -->
  <ion-card>
    <ion-card-content>
      <ion-item lines="none">
        <ion-label>
          Instant Control
        </ion-label>
        <ion-toggle color="danger"></ion-toggle>
      </ion-item>
    </ion-card-content>
  </ion-card>
  <br>
<!-- Timer -->
  <ion-card>
    <ion-card-content>
      <ion-item lines="none">
        <ion-label>
          <h2>T(hr:min:sec:msec)</h2>
          <h2>0000:00:03:0000</h2>
        </ion-label>
      </ion-item>
    </ion-card-content>
  </ion-card>
<br>
<div class="buttonClass">
  <ion-item-divider>
</ion-item-divider>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-button color="light">
          Read
        </ion-button>
      </ion-col>

      <ion-col>
        <ion-button color="light">
          Write
        </ion-button>
      </ion-col>

      <ion-col>
        <ion-button color="light">
          Clone
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</div>

</div>
