.buttonClass {
    position: fixed;
    left: 0;
    bottom: 0px;
    right: 0;
    justify-content: space-evenly;
}

ion-grid {
    display: flex;
    justify-content: space-evenly;
}

.contentClass {
    background-color: var(--ion-color-light-tint);
    --padding-bottom: 1px;
    --padding-end: 1px;
    --padding-start: 1px;
    --padding-top: 1px;
}

.ion-list {
    overflow: hidden;
    overflow-y: auto;
    max-height: 250px;
    ::-webkit-scrollbar {
        display: none;
    }
}
.iconClass{
width: 100px;
height: 100px;
}


