<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button color="light"></ion-menu-button>
    </ion-buttons>
    <ion-item color="primary">
      <ion-title>{{ selectedSegmant }}</ion-title>
      <ion-icon name="ellipsis-vertical-sharp" (click)="showMoreInfoOverlay()"></ion-icon>
    </ion-item>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-segment [(ngModel)]="selectedSegmant" scrollable>
    <ion-segment-button value="settings">
      <ion-label>SETTINGS</ion-label>
    </ion-segment-button>

    <ion-segment-button value="diagnose">
      <ion-label>DIAGNOSE</ion-label>
    </ion-segment-button>

    <ion-segment-button value="protection">
      <ion-label>PROTECTION</ion-label>
    </ion-segment-button>

    <ion-segment-button value="basic-setting">
      <ion-label>BASIC SETTING</ion-label>
    </ion-segment-button>

    <ion-segment-button value="user-alam">
      <ion-label>USER ALAM</ion-label>
    </ion-segment-button>

    <ion-segment-button value="R1">
      <ion-label>R1(11-12-14)</ion-label>
    </ion-segment-button>

    <ion-segment-button value="R2">
      <ion-label>R2(21-22-24)</ion-label>
    </ion-segment-button>
  </ion-segment>
  <ion-list>
    <div *ngIf="selectedSegmant == 'settings'">
      <app-settings>
      </app-settings>
    </div>
    <div *ngIf="selectedSegmant == 'diagnose'">
      <app-diagnose-tab>
      </app-diagnose-tab>
    </div>
    <div *ngIf="selectedSegmant == 'protection'">
      <app-protection-tab>
      </app-protection-tab>
    </div>
    <div *ngIf="selectedSegmant == 'basic-setting'">
      <app-basic-setting>
      </app-basic-setting>
    </div>
    <div *ngIf="selectedSegmant == 'user-alam'">
      <app-user-alam>
      </app-user-alam>
    </div>
    <div *ngIf="selectedSegmant == 'R1'">
      <app-r1>
      </app-r1>
    </div>
  </ion-list>
</ion-content>
<!-- MoreInfoOverlay -->
<div class="my-overlay" padding [hidden]="moreInfoOverlayHidden">
  <ion-card padding (click)="hideMoreInfoOverlay()">
    <ion-list>
        <h3> Rename relay </h3>
        <br>
        <h3> Save relay settings </h3>
        <br>
        <h3> Saved settings </h3>
        <br>
        <h3> Received settings </h3>
        <br>
        <h3> Share settings(File) </h3>
        <br>
    </ion-list>
  </ion-card>
</div>

<ion-footer class="buttonClass">
  <!-- Diagnose Footer -->
  <div *ngIf="selectedSegmant == 'diagnose'">
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-button color="light">
            Read
          </ion-button>
        </ion-col>
        <!-- Spacer -->
        <ion-col style="width: 50px"></ion-col>
        <ion-col>
          <ion-button color="light">
            Write
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <!-- R1 Footer-->
  <div *ngIf="selectedSegmant == 'R1'">
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-button color="light">
            SIMULATION
          </ion-button>
        </ion-col>
        <ion-col style="width: 50px"></ion-col>
        <ion-col>
          <ion-button color="light">
            COPY TO 21-22-24
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <div *ngIf="selectedSegmant == 'protection'">
    <ion-button expand="block" color="light">Read</ion-button>
  </div>

  <div *ngIf="selectedSegmant == 'settings'">
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-button color="light">
            Read
          </ion-button>
        </ion-col>
        <!-- Spacer -->
        <ion-col style="width: 50px"></ion-col>
        <ion-col>
          <ion-button color="light">
            Write
          </ion-button>
        </ion-col>
        <!-- Spacer -->
        <ion-col style="width: 50px"></ion-col>
        <ion-col>
          <ion-button color="light">
            Clone
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-footer>