<ion-card>
  <ion-card-content text-center>
    <ion-item lines="none">
      <ion-icon name="lock-closed-outline"></ion-icon>
    </ion-item>
    <br>
    <ion-item color="light">
      <ion-input placeholder="LOCK RELAY"></ion-input>
    </ion-item>
    <br>
    <ion-item color="light">
      <ion-input placeholder="CHANGE RELAY PASSWORD"></ion-input>
    </ion-item>
    <br>
    <ion-item color="light">
      <ion-input placeholder="RESET RELAY PASSWORD"></ion-input>
    </ion-item>
    <br>
    <ion-item>
      Check available Reset(s)
    </ion-item>

    <ion-item class="clickHere">
      <ion-label>
        To purchase reset relay password(s).
      </ion-label>
      <div style="text-decoration: underline;" (click)="clickHere()">click here</div>
    </ion-item>

  </ion-card-content>
</ion-card>
<div class="buttonClass">
  <ion-button color="light" expand="full" (click)="clickHere()">
    Read
  </ion-button>
</div>