<ion-card>
  <ion-card-content text-center>
    <ion-item lines="none">
      <ion-icon name="lock-closed-outline"></ion-icon>
    </ion-item>
    <br>
    <ion-button expand="block" color="light">LOCK RELAY</ion-button>
    <br>
    <ion-button expand="block" color="light">CHANGE RELAY PASSWORD</ion-button>
    <br>
    <ion-button expand="block" color="light">RESET RELAY PASSWORD</ion-button>
    <br>
    <ion-item lines="none">
      Check available Reset(s)
    </ion-item>
    <ion-item lines="none">
      <ion-label>
        To purchase reset relay password(s).
        <div style="text-decoration: underline;" (click)="clickHere()">click here</div>
      </ion-label>
    </ion-item>
  </ion-card-content>
</ion-card>