<div>
  <ion-item lines="none">
    <ion-label>
      Phase loss alarm
    </ion-label>
  </ion-item>

  <ion-item lines="none">
    <ion-label color="medium">
      Alarm trigger value
    </ion-label>
  </ion-item>
  <ion-item>
   <ion-input placeholder="166v"></ion-input>
  </ion-item>

  <ion-item lines="none">
    <ion-radio slot="start" value=""></ion-radio>
    <p>Alarm with memory</p>
    <ion-icon name="help-circle-outline" color="primary"></ion-icon>
  </ion-item>
  <br>
  <ion-item lines="none">
    Phase sequence alarm
  </ion-item>
  <ion-item lines="none">
    <ion-radio slot="start" value=""></ion-radio>
    <p>Alarm with memory</p>
    <ion-icon name="help-circle-outline" color="primary"></ion-icon>
  </ion-item>
</div>
