<ion-list>
  <ion-item lines="none">
    <ion-label>
      Phase loss alarm
    </ion-label>
  </ion-item>

  <ion-item lines="none">
    <ion-label color="medium">
      Alarm trigger value
    </ion-label>
    <ion-input>
      <ion-input placeholder="166v"></ion-input>
    </ion-input>
  </ion-item>

  <ion-item lines="none">
    <ion-icon name="ellipse-outline"></ion-icon>
    <ion-label>Alarm with memory</ion-label>
    <ion-icon name="help-circle-outline" color="primary"></ion-icon>
  </ion-item>
  <br>
  <ion-item lines="none">
    Phase sequence alarm
  </ion-item>
  <ion-item lines="none">
    <ion-icon name="ellipse-outline"></ion-icon>
    <ion-label>Alarm with memory</ion-label>
    <ion-icon name="help-circle-outline" color="primary"></ion-icon>
  </ion-item>


</ion-list>