<div class="contentClass">
  <br>
  <ion-card>
    <ion-card-content>
      Please READ from the relay to load the Diagnose data
    </ion-card-content>
  </ion-card>
  <br>
  <div class="gridClass">
    <ion-grid>
      <!-- Power Supply -->
      <ion-row>
        <ion-col>
          <ion-card>
            <ion-item>
                <ion-icon name="flash-outline"></ion-icon>
              <ion-label>
                <p>
                  Power Supply
                </p>
                <h3>
                  A1-A2
                </h3>
                <ion-toggle color="danger"></ion-toggle>
              </ion-label>
            </ion-item>
          </ion-card>
        </ion-col>
        <!-- External Control -->
        <ion-col>
          <ion-card>
            <ion-item>
              <ion-icon name="flash-outline"></ion-icon>
              <ion-label>
                <p>
                  External Control
                </p>
                <h3>
                  Y1
                </h3>
                <ion-toggle color="danger"></ion-toggle>
              </ion-label>
            </ion-item>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
    <!-- Output Status1 -->
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-card>
            <ion-item>
              <ion-icon name="flash-outline"></ion-icon>
              <ion-label>
                <h4>
                  Output Status1
                </h4>
                <h3>
                  15-16-18
                </h3>
                <ion-toggle color="danger"></ion-toggle>
              </ion-label>
            </ion-item>
          </ion-card>
        </ion-col>
        <!-- Output Status1 -->
        <ion-col>
          <ion-card>
            <ion-item>
                <ion-icon name="flash-outline"></ion-icon>
              <ion-label>
                <h4>
                  Output Status2
                </h4>
                <h3>
                  25-26-28
                </h3>
                <ion-toggle color="danger"></ion-toggle>
              </ion-label>
            </ion-item>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>

  </div>
</div>