<div class="contentClass">
  <br>
  <!-- Diagnose toggle -->
  <ion-item color="light" lines="none">
    <ion-item slot="end" color="light" lines="none">
      <ion-label>
        Diagnose
      </ion-label>
        <ion-toggle color="danger" checked=true>
        </ion-toggle>
    </ion-item>
  </ion-item>
  <br>
<!-- Time Status -->
<ion-card>
  <ion-item lines="none">
      <ion-icon name="timer-outline"></ion-icon>
      Timer Status
  </ion-item>
  <ion-row style="height: 100px"></ion-row>
</ion-card>
  <div class="gridClass">
    <ion-grid>
      <!-- Power Supply -->
      <ion-row>
        <ion-col>
          <ion-card>
            <ion-item>
                <ion-icon name="flash-outline"></ion-icon>
              <ion-label>
                <p>
                  Power Supply
                </p>
                <h3>
                  A1-A2
                </h3>
                <ion-toggle color="danger"  checked=true></ion-toggle>
              </ion-label>
            </ion-item>
          </ion-card>
        </ion-col>
        <!-- External Control -->
        <ion-col>
          <ion-card>
            <ion-item>
              <ion-icon name="flash-outline"></ion-icon>
              <ion-label>
                <p>
                  External Control
                </p>
                <h3>
                  Y1
                </h3>
                <ion-toggle color="danger"  checked=true></ion-toggle>
              </ion-label>
            </ion-item>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
    <!-- Output Status1 -->
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-card>
            <ion-item>
              <ion-icon name="flash-outline"></ion-icon>
              <ion-label>
                <h4>
                  Output Status1
                </h4>
                <h3>
                  15-16-18
                </h3>
                <ion-toggle color="danger"  checked=true></ion-toggle>
              </ion-label>
            </ion-item>
          </ion-card>
        </ion-col>
        <!-- Output Status1 -->
        <ion-col>
          <ion-card>
            <ion-item>
                <ion-icon name="flash-outline"></ion-icon>
              <ion-label>
                <h4>
                  Output Status2
                </h4>
                <h3>
                  25-26-28
                </h3>
                <ion-toggle color="danger"  checked=true></ion-toggle>
              </ion-label>
            </ion-item>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>

  </div>
  <ion-row style="height: 300px"></ion-row>
</div>