.buttonClass {
    position: fixed;
    left: 0;
    bottom: 0;
    right: 0;
}

.contentClass {
    background-color: var(--ion-color-light-tint);
}
.gridClass{
    background-color: var(--ion-color-light-tint);   
}
